@media only screen and (min-width: 1024px) {

    body {
        max-width: 2100px;
    }
    .home_main {
        display: grid;
        grid-template-columns: auto 400px 450px 400px auto;
        grid-template-rows: auto 450px auto;
        margin-top: 70px;
    }
    .hero_div {
        grid-column: 3/5;
        margin: 5px 5px 5px 0px;
        width: fit-content;
    }
    .area_div {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 5px;
    }
    .area_div p {
        margin-left: 10px;
        margin-right: 10px;
    }
    .crops{
        grid-column: 2/3;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        margin: 0px 5px 5px 5px;
    }
    .crops img {
        width: 390px;
        margin-top: 5px;
    }
    .crops img:nth-child(1) {
        margin-top: 0px;
    }
    .crops img:nth-child(4) {
        display: none;
    }

    .extf2 {
        display: unset;
        grid-column: 4/5;
        grid-row: 3/4;
        margin: 0px 5px 5px 0px;
    }
    .extf2 img {
        width: 100%;
        height: 100%;
    }

    .extf1 {
        display: unset;
        grid-column: 3/4;
        grid-row: 2/3;
        margin: 0px 5px 5px 0px;
    }
    .extf1 img {
        width: 100%;
        height: 100%;
    }

    .order_div{
        grid-column: 4/5;
        grid-row: 2/3;
        margin: 0px 5px 5px 0px;
    }
    .order_div p {
        margin: 10px;
    }
    #order_submit {
        margin-top: 50px;
        font-size: 10rem;
    }

    .w_div {
        grid-column: 3/4;
        grid-row: 3/4;
        margin: 0px 5px 5px 0px;
    }
    .weather_div {
        display: flex;
        flex-direction: column;
    }
    #forecast h3 {
        margin: 15px;
    }
    #forecast div {
        margin: 5px;
    }


    footer {
        grid-template-columns: 10% 1fr 3% 1fr 3% 1fr 10%;
    }
    .ft_logo {
        margin: 10px;
        grid-column: 4/5;
        position: unset;
    }
    .ft_info {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 1.3rem;
    }
    footer hr {
        grid-column: 1/8;
    }
    .ftct_info {
        display: unset;
        grid-column: 6/7;
        text-align: center;
        font-size: 1.2rem;
    }
    .ft_lm {
        display: flex;
        grid-column: 1/8;
    }

    .fresh_main section form {
        display: grid;
        grid-template-columns: auto 480px 480px auto;
    }
    .fresh_main section form fieldset:nth-child(1){
        grid-column: 2/4;
    }
    .fresh_main section form fieldset:nth-child(2){
        grid-column: 2/3;
    }
    .fresh_main section form fieldset:nth-child(3){
        grid-column: 3/4;
    }
    .fresh_main section form fieldset:nth-child(4){
        grid-column: 2/4;
    }
    .remarks {
        grid-column: 2/4;
    }
    .fresh_pic_div {
        grid-column: 2/4;
    }








}
