@media only screen and (min-width: 768px) {
    
    header {
        height: 100px;
        grid-template-columns: 0px 130px auto 180px;
    }
    .logo_div, .logo {
        height: 100px;
    }
    .title {
        font-size: 1rem;
    }
    .sm_div {
        position: relative;
        right: 10px;
    }
    .sm_logo {
        height: 50px;
        width: 50px;
    }
    nav {
        grid-row: 2/3;
        grid-column: 1/5;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        width: 100%;
    }

    .home_main {
        margin-top: 65px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .hero_div, .crops{
        grid-column: 1/3;
    }
    .crops{
        grid-row: 4/5;
    }
    .mixBtn {
        font-size: 2rem;
    }
    .crops {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
    .crops img {
        justify-self: center;
        align-self: center;
        width: 100%;
    }
    .area_div {
        grid-row: 2/4;
        margin: 5px;
    }
    .w_div, .order_div {
        margin: 0px 5px 5px 0px;
    }
    .w_div {
        margin-top: 5px;
    }

    footer {
        grid-template-columns: 10% 1fr 3% 1fr 10%;
    }
    .ft_logo {
        grid-column: 2/3;
        width: 100%;
        max-width: 300px;
    }
    .ft_info {
        grid-column: 4/5;
        font-size: 1.2rem;
    }
    .ft_info p {
        margin: 10px;
    }
    footer hr {
        grid-column: 1/6;
    }
    .ft_lm {
        grid-column: 1/6;
    }
    #ft_div1, #ft_div3, #ft_div4 {
        display: none;
    }
    #ft_div2 {
        display: block;
    }





}