@media only screen and (min-width: 64rem) {

    header div button {display: none;}
    .container_hm {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        font-size: 1rem;
    }
    .container_hm a {
        color: #505050;
        text-decoration: none;
    }
    header {
        grid-template-columns: 60px 1fr 1fr auto;
    }
    nav ul.open {display: none;}

    /* nav ul li a {
        padding: .5rem 1rem;
    }
    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);

    } */

    main {
        grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
    }

    .sect1 {
        grid-row: 1/3;
        grid-column: 2/4;
    }
    .sect1 h2 {
        justify-self: center;
        grid-row: 2/3;
    }
    .sect1 img {
        grid-row: 3/4;
    }
    .sect1 div {
        margin: 0px;
        grid-row: 4/5;
        grid-column: 1/3;
        justify-self: center;
        position: relative;
        bottom: 100px;
    }
    .sect2 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .sect3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .sect4 {
        grid-row: 3/4;
        grid-column: 2/4;
    }
    .sect5 {
        grid-row: 1/4;
        grid-column: 4/5;
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }
    .sect5 div {
        width: auto;
    }
    .div1 {
        display: unset;
    }
    .sect6 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .sect6 div {
        margin: 0px;
    }
    .sect6 div a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .fsect3 {
        display: flex;
    }
}
