@media only screen and (min-width: 35rem) {

    main {
        grid-template-columns: repeat(5, 1fr);
    }
    .sect1 {
        grid-column: 1/6;
    }
    .sect1 div {
        margin-right: 60px;
        margin-bottom: 60px;
    }
    .sect2 {
        grid-row: 5/6;
        grid-column: 1/4;
    }
    .sect3 {
        grid-row: 5/6;
        grid-column: 4/6;
    }
    .sect4 {
        grid-row: 2/3;
        grid-column: 1/6;
    }
    .sect5 {
        grid-row: 3/4;
        grid-column: 1/6;
        display: flex;
        flex-direction: row;
        grid-gap: 5px;
    }
    .sect5 div {
        width: 100%;
    }
    .sect6 {
        grid-row: 4/5;
        grid-column: 1/6;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sect6 h2 {
        text-align: center;
        align-self: center;
    }
    .sect6 div {
        grid-row: 2/3;
        grid-column: 1/3;
        justify-self: center;
        padding-block: 30px;
    }
    .sect6 div a {
        padding-left: 200px;
        padding-right: 200px;
    }
 
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .fsect1 {
        margin: 15px;
        height:fit-content
    }
    .fsect1 img {
        max-height: 75%;
    }
    .fsect2 {
        margin: 20px;
        font-size: 1.4rem;
    }
    .fsect2 div {
        justify-content: unset;
    }
    footer hr {
        grid-column: 1/3;
    }
    .fsect3 {
        grid-column: 1/3;
        margin: 5px;
    }
    .fsect3_1 {
        display: none;
    }
    .fsect3_2 {
        display: unset;
        grid-column: 1/3;
    }
    .fsect3_3 {
        grid-column: 1/3;
    }

    #discover figure img:hover {box-shadow: 0 0 50px #333;}

    table {
        display: table;
        width: 100%;
    }


}