@media only screen and (min-width: 35rem) {

    main {
        grid-template-columns: repeat(5, 1fr);
    }
    .sect1 {
        grid-column: 1/6;
    }
    .sect2 {
        grid-row: 5/6;
        grid-column: 1/4;
    }
    .sect3 {
        grid-row: 5/6;
        grid-column: 4/6;
    }
    .sect4 {
        grid-row: 2/3;
        grid-column: 1/6;
    }
    .sect5 {
        grid-row: 3/4;
        grid-column: 1/6;
        display: flex;
        flex-direction: row;
    }
    .sect6 {
        grid-row: 4/5;
        grid-column: 1/6;
    }
    .hidden {
        display: unset;
    }
    section div {
        width: 100%;
    }
}