@media only screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section_full {
        grid-column: auto;
        grid-template-rows: 40px 40px 40px 1fr 300px;
    }
    section {
        grid-template-rows: 40px 40px 40px 1fr 300px;
    }
}
