@media only screen and (min-width: 32.5em) {
    .header {
        background-color: lightskyblue;
        color: darkcyan;
    }
    .footer {
        background-color: lightskyblue;
        color: darkcyan;
    }
    .pic {
        width: 15em;
    }
    main ul {
        font-size: 1.7em;
    }
}