body {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    font-family: 'Kanit', sans-serif;
}

header {
    border-radius: 25px;
    background-color: goldenrod;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 5px 5px 10px #6f7364;
    height: 200px;
}
.pic {
    height: 150px;
    box-shadow: 5px 5px 10px #6f7364;
}
main {
    font-size: 1.5em;
}
h1 {
    margin: 20px;
    font-size: 1.5em;
}
footer {
    border-radius: 25px;
    background-color: goldenrod;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 5px 5px 10px #6f7364;
}
.footer_time {
    color: blue;
}
