.header {
    border-radius: 25px;
    background-color: goldenrod;
    color: white;
    width: 500px;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 5px 5px 10px #6f7364;
}
.footer {
    border-radius: 25px;
    background-color: goldenrod;
    color: white;
    width: 500px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 5px 5px 10px #6f7364;
}
.pic {
    width: 60%;
    box-shadow: 5px 5px 10px #6f7364;
}
.footer_time {
    color: blue;
}
h1 {
    text-shadow: 2px 2px gray;
}
hr {
    width: 500px;
    margin-left: 0px;
}
footer p {
    margin: 0px 0px;
}
header {
    font-family: 'Kanit', sans-serif;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}